<div class="bg-warning pt-5 border-bottom border-dark">
  <div class="container pt-5">
    <div class="row py-5 ">
      <div class="col-sm-6 text-start">
        <h1>Ben kimim ?</h1>
        <p class="fs-5 pt-4">
          <% if defined?(@aboutme) && @aboutme["body"] %>
            <%= @aboutme["body"][0..90] %>
          <% else %>
            Example text
          <% end %>
        </p>
        <%= link_to(
          "Devamını oku",
          pages_aboutme_path,
          class: "link fs-5 rounded rounded-pill btn btn-success text-white my-4",
        ) %>
      </div>
      <div class="col-sm-5 offset-sm-1">
        <% if !@aboutme.nil? && @aboutme["image_url"] %>
          <%= image_tag((request.base_url + @aboutme["image_url"]), class: "w-100 rounded") %>
        <% else %>
          <img src="https://picsum.photos/id/13/1920/1080" alt="" class="w-100 rounded">
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container pt-5">
    <div class="row text-center">
      <h1>Son yaptığım projelerim</h1>
    </div>
    <% @projects&.each do |project| %>
      <div class="row py-5">
        <% project.each do |p| %>
          <% next if p.nil? %>
          <div class="col-sm-5 py-3 <%= "offset-sm-2" if project.last == p %>">
            <div class="row">
              <div class="col-lg-6 order-last order-lg-first text-sm-center text-lg-start">
                <h4 class="py-1"><%= link_to(
                    p["title"],
                    pages_project_path(string_to_url(p["title"])),
                    class: "text-decoration-none text-info",
                  ) %>
                </h4>

                <p class="text-break">
                  <%= p["header"] %>
                </p>

                <ul class="list-inline">
                  <% p["tags"].each do |tag| %>
                    <li class="list-inline-item rounded-pill fs-12 bg-dark p-2 m-1"><%= link_to(
                        tag["title"],
                        pages_tag_path(string_to_url(tag["title"])),
                        class: "text-decoration-none text-white",
                      ) %></li>
                  <% end %>
                </ul>
                <%= link_to(pages_project_path(string_to_url(p["title"])),class:"btn btn-primary rounded rounded-pill mt-3 text-center") do %>
                  Proje Bilgileri
                  <%= bootstrap_icon "arrow-right",
                  width: 22,
                  height: 22,
                  color: "white",
                  class: "text-center ms-3" %>
                <% end %>
              </div>
              <div
                class="
                  col-lg-5 offset-md-1 order-first order-lg-second f-flex justify-content-center
                "
              >
                <%#  if p["obje"].image.persisted? %>
                <% if p["image_url"] %>
                  <%= image_tag(
                    (request.base_url + p["image_url"]),
                    class: "w-100 img-thumbnail img-fluid",
                    alt: "#{p["title"]} project image",
                  ) %>
                <% else %>
                  <img
                    src="https://picsum.photos/id/13/120/120?grayscale"
                    alt=""
                    class="w-100 img-thumbnail img-fluid"
                  >
                <% end %>
                <%# link_to("Proje Bilgileri",pages_project_path(p.to_url_string),class:" btn btn-primary rounded rounded-pill mt-3 text-center") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<div class="bg-warning">
  <div class="container pt-5">
    <div class="row text-center">
      <h1>Son blog yazılarım</h1>
    </div>
    <% @articles&.each do |article| %>
      <div class="row">
        <% article.each do |a| %>
          <% next if a.nil? %>
          <div
            class="
              col-sm-5 my-5 border-bottom text-center text-md-start border-dark
              <%= 'offset-sm-2' if article.last == a%>
            "
          >
            <h3>
              <%= link_to(
                a["title"],
                pages_article_path(string_to_url(a["title"])),
                class: " article-title-hover",
              ) %>
            </h3>
            <p class="pt-3 text-break"><%= a["header"] %></p>
            <strong class="text-start">Kategori :
              <%= link_to(
                a["category"]["name"],
                pages_category_path(string_to_url(a["category"]["name"])),
                class: "text-decoration-none",
              ) %>
            </strong>
            <ul class="list-inline pt-3">
              <% a["tags"].each do |tag| %>
                <li
                  class="
                    list-inline-item text-light rounded-pill border border-dark p-2 fs-12
                    bg-secondary m-1
                  "
                >
                  <%= link_to(
                    tag["title"],
                    pages_tag_path(string_to_url(tag["title"])),
                    class: "text-decoration-none text-white",
                  ) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
