<%= form_with(url: login_post_path,method: "post",scope:"admin",class:"form-floating") do |form| %>
  <div class="row py-3">
    <h2 class="text-center pt-4 text-dark">Admin Girişi</h2>
  </div>
  <div class="row mx-3">
    <div class="col-sm-12 py-2 text-start">
      <%= form.text_field(
        "username_or_email",
        class: "form-control fs-4 #{"is-invalid" if flash[:username_or_email_error]}",
        placeholder: "Kullanıcı adı ya da eposta",
        required: "",
        value:
          "#{flash[:before_username_or_password] ? flash[:before_username_or_password] : ""}",
      ) %>
      <%= if flash[:username_or_email_error]
        print_session_error_messages(flash[:username_or_email_error])
      end %>
    </div>
  </div>
  <div class="row pt-3 mx-3">
    <div class="col-sm-12 py-2 input-group" data-controller="login">
      <%= form.password_field(
        "password",
        "data-login-target" => "password",
        :id => "password",
        :class => "form-control fs-4 #{flash[:password_error] ? "is-invalid" : ""}",
        :placeholder => "Şifre",
        :required => "",
      ) %>
      <div class="input-group-text">
        <input
          data-action="click->login#togglePasswordType"
          data-login-target="checkbox"
          class="form-check-input mt-0"
          id="checkbox"
          type="checkbox"
          value="Şifreyi göster"
          aria-label="Checkbox for following text input"
        >
      </div>

      <%= print_session_error_messages(flash[:password_error]) if flash[:password_error] %>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-sm-12 d-flex justify-content-center">
      <!--input type="submit" value="Gönder" class="btn btn-primary fs-4"-->
      <%= form.submit(value: "Giriş Yap", class: "btn btn-primary fs-4") %>
    </div>
  </div>
<% end %>
