<div class="pt-5 area vh-75">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 rounded-3 d-flex flex-row justify-content-center">
        <div class="border border-success rounded-2 bg-primary-subtle tasiyici">
          <%= form_for(@communication,method: "put",class:"form-floating") do |form| %>
            <div class="row">
              <h4 class="pt-4 ps-5 text-dark">İletişim düzenle</h4>
            </div>
            <div class="row mx-3">
              <div class="col-sm-6 py-2 text-start">
                <div class="form-floating">
                  <%= form.email_field(
                    :email,
                    class: "form-control form-control-lg",
                    id: "floatingTitle",
                    required: "",
                  ) %>
                  <%= form.label I18n.translate("email"), for: "floatingTitle" %>
                  <%= print_error_messages(@communication, :email) %>
                </div>
              </div>
              <div class="col-sm-6 py-2 text-start">
                <div class="form-floating">
                  <%= form.url_field :github,
                                 class: "form-control form-control-lg",
                                 id: "floatingHeader",
                                 required: "" %>
                  <%= form.label :github, for: "floatingHeader" %>
                  <%= print_error_messages(@communication, :github) %>
                </div>
              </div>
            </div>
            <div class="row pt-3 mx-3">
              <div class="col-sm-6 my-3">
                <div class="form-floating">
                  <%= form.telephone_field(
                    :telephone_number,
                    class: "form-control",
                    id: "floatingTextarea",
                    required: "",
                  ) %>
                  <%= form.label I18n.translate("telephone_number"), for: "floatingTextarea" %>
                  <%= print_error_messages(@communication, :telephone_number) %>
                </div>
              </div>
              <div class="col-sm-6 my-3">
                <div class="form-floating">
                  <%= form.url_field(
                    :instagram,
                    class: "form-control",
                    id: "floatingInstagram",
                    required: "",
                  ) %>
                  <%= form.label :instagram, for: "floatingInstagram" %>
                  <%= print_error_messages(@communication, :instagram) %>
                </div>
              </div>
            </div>
            <div class="row pt-3 mx-3">
              <div class="col-sm-12">
                <div class="form-floating">
                  <%= form.url_field(
                    :linkedin,
                    class: "form-control",
                    id: "floatingLinkedin",
                    required: "",
                  ) %>
                  <%= form.label :linkedin, for: "floatingLinkedin" %>
                  <%= print_error_messages(@communication, :linkedin) %>
                </div>
              </div>
            </div>
            <hr class="border border-secondary">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-center mb-4">
                <input type="submit" value="Gönder" class="btn btn-primary mt-2">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
