<%= stylesheet_link_tag "_sidebar", "data-turbo-track": "reload" %>
<%= render "layouts/sidebar"%>
<div class="container-lg mt-5 pt-5">
    <h1>Kullanıcı Yazıları</h1>
    <p>Burada oluşturduğum yazılarım bulunmaktadır</p>
    <p>Toplam yazı sayısı: <strong><%= @articles.count%></strong></p>
    <% @articles.each do |article|%>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to(article.title,pages_article_path(string_to_url(article.title)),class:"text-decoration-none text-primary")%>
          </h5>
          <p class="card-text"><%= article.header%></p>
        </div>
      </div>
    <%end%>
</div>
