<%= stylesheet_link_tag "panel", "data-turbo-track": "reload" %>
<script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>

<div class="wrapper" data-controller="panel">
    <!-- Sidebar -->
    <aside id="sidebar" class="collapsed" data-panel-target="sidebar">
        <div class="h-100 bg-primary position-fixed" style="width:264px;">
            <div class="sidebar-logo text-center py-3">
              <%= link_to("Admin panel",panel_path)%>
            </div>
            
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav pt-2">
                <li class="sidebar-header">
                    Düzenlemeler
                </li>
                <li class="sidebar-item">
                    <%= link_to(edit_aboutme_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        Hakkımda düzenle
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <%= link_to(edit_communication_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        İletişim düzenle
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <%= link_to(projects_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        Projelerim
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <%= link_to(articles_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        Yazılarım
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <%= link_to(categories_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        Kategoriler
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <%= link_to(tags_path,class:"sidebar-link") do%>
                        <i class="fa-solid fa-list pe-2"></i>
                        Etiketler
                    <%end%>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#auth"
                        aria-expanded="false" aria-controls="auth">
                        <i class="fa-regular fa-user pe-2"></i>
                        Admin İşlemleri
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <%= link_to("Admin Kaydet",new_admin_path,class:"sidebar-link")%>
                        </li>
                        <li class="sidebar-item">
                            <%= link_to("Adminleri Görüntüle",admins_path,class:"sidebar-link")%>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item pt-2">
                  <%= link_to("Çıkış yap",logout_path,class:"sidebar-link btn btn-danger",:method => :delete,data:{turbo_method: :delete})%>
                </li>

                <!-- ####################################################### -->

                <li class="sidebar-header" hidden>
                    Multi Level Nav
                </li>
                <li class="sidebar-item" hidden>
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-share-nodes pe-2"></i>
                            Multi Level
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                    Two Links
                            </a>
                            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->
    <div class="main">
        <nav class="navbar navbar-expand px-3 py-3 border-bottom position-fixed w-100 bg-success">
            <!-- Button for sidebar toggle -->
            <button class="btn bg-light-subtle" type="button" data-bs-theme="dark" data-action="click->panel#changeVisibility">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-5 mt-5 border-top border-primary">
            <% unless flash.empty?%>
                <% type = case flash.first.first
                when "notice" then "success"
                when "alert" then "danger"
                when "info" then "info"
                when "warning" then "warning"
                end
                %>
                <div class="alert alert-<%= type%> text-center"><%= flash.first.last.capitalize%></div>
            <%end%>
            <%= yield %>
        </main>
    </div>
</div>
