<%= render "layouts/sidebar"%>
<div class="container-lg p-5 mt-5" style="padding-left:2rem;">
  <div class="row text-wrap">
    <h2 class="text-center fw-bold fs-1 text-capitalize">
      <%= @project.title%>
    </h2>
  </div>
  <div class="row text-wrap">
    <div class="col-sm-12 d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <h3 class="my-1">Kategori: </h3>
        <%= link_to(
          @project.category.name,
          pages_category_path(string_to_url(@project.category.name)),
          class: "btn btn-primary fs-5 text-center text-capitalize"
        )%>
      </div>
      <p class="fs-5">
        Başlama tarihi: 
        <span class="text-danger">
          <%= tr_humanize(@project.start_date)%>
        </span>
      </p>
    </div>
  </div>
  <div class="row text-wrap py-2">
    <div class="col-sm-12 d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <h3>Etiketler: </h3>
        <% @project.tags.each do |tag|%>
          <%= link_to(
            tag.title,
            pages_tag_path(string_to_url(tag.title)),
            class: "btn btn-danger text-capitalize mx-1 text-wrap fs-6"
          )%>
        <% end %>
      </div>
      <p class="fs-5">
        Bitiş tarihi:
        <span class="text-warning">
          <%= tr_humanize(@project.end_date)%>
        </span>
      </p>
    </div>
  </div>
  <div class="row text-wrap py-2">
    <p><%= @project.view_count%> görüntülenme</p>
  </div>
  <div class="row text-wrap py-2">
    <div class="col-sm-12">
      <%= link_to(@project.url,class:"btn btn-primary") do %>
        Proje adresi <%= bootstrap_icon "arrow-right", width: 25, height: 25, fill: "white" %> 
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row pt-5 py-3 text-wrap">
    <p class="fw-bold fs-4">
      <%= @project.header%>
    </p>
  </div>

  <div class="row text-wrap">
    <p class="fs-5 fw-medium">
      <%= @project.body%>
    </p>
  </div>
</div>
