<%= form_for(@category,method: method,class:"form-floating") do |form| %>
  <div class="row">
    <h4 class="pt-4 ps-5 text-dark">Kategori
      <%= method == "post" ? "Ekle" : "Düzenle" %></h4>
  </div>
  <hr class="border border-dark">
  <div class="row mx-3">
    <div class="col-sm-12 pt-2 text-start">
      <div class="form-floating">
        <%= form.text_field(:name, class: "form-control", id: "floatingTitle", required: "") %>
        <%= form.label I18n.translate("name"), for: "floatingTitle" %>
        <%= print_error_messages(@category, :name) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center mb-3">
      <input
        type="submit"
        value="<%= method == "post" ? "Ekle" : "Kaydet"%>"
        class="btn btn-primary mt-4"
      >
    </div>
  </div>
<% end %>
