<%# @project,@method %>
<%= form_for(@project,
                       method: method,
                       class:"form-floating",
                       data: {
                         controller: "editor",
                         editor_image_upload_url_value: upload_image_projects_path,
                         editor_editor_data_value: (@project.content || {}),
                         editor_readonly_value: false
                       }) do |form| %>
  <div class="row">
    <h4 class="pt-4 ps-5 text-dark">Proje Ekle</h4>
  </div>
  <div class="row mx-3">
    <div class="col-sm-4 py-2 text-start">
      <div class="form-floating">
        <%= form.text_field(
          :title,
          class: "form-control",
          id: "floatingTitle",
          required: "",
        ) %>
        <%= form.label I18n.translate("title"), for: "floatingTitle" %>
        <%= print_error_messages(@project, :title) %>
      </div>
    </div>
    <div class="col-sm-4 py-2 text-start">
      <div class="form-floating">
        <%= form.text_field :header,
                        class: "form-control",
                        id: "floatingHeader",
                        required: "" %>
        <%= form.label I18n.translate("header"), for: "floatingHeader" %>
        <%= print_error_messages(@project, :header) %>
      </div>
    </div>
    <div class="col-sm-4 py-2 text-start">
      <div class="form-floating">
        <%= form.url_field(:url, class: "form-control", id: "floatingUrl", required: "") %>
        <label for="floatingInput3">Url</label>
        <%= form.label I18n.translate("url"), for: "floatingUrl" %>
        <%= print_error_messages(@project, :url) %>
      </div>
    </div>
  </div>
  <div class="row pt-3 mx-3">
    <div class="col-sm-12 py-2">
      <%= render "shared/editor", form: form %>
      <% unless @project.errors[:content].empty? %>
        <div class="bg-danger-subtle text-center rounded py-2">
          <h5>
            <%= "İçerik #{@project.errors[:content].first}" %></h5>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row pt-3 mx-3">
    <div class="col-sm-6 py-2">
      <div class="form-floating">
        <%= form.select(
          :category,
          options_for_select(
            @categories,
            (@project.category.name if @project.category),
          ),
          { include_blank: false },
          class: "form-select",
          id: "floatingSelect",
        ) %>
        <label for="floatingSelect">Kategori</label>
      </div>
    </div>
    <div class="col-sm-6 py-3">
      <div
        id="wormer"
        data-controller="slimselect"
        data-slimselect-array="<%= @old_tags&.join('|')%>"
      >
        <%= form.select(
          :tags,
          @tags,
          { include_blank: false },
          :class => "form-control",
          :id => "multiselect",
          :multiple => "",
          "data-slimselect-target" => "selectGroup",
          :required => false,
        ) %>
      </div>
    </div>
  </div>
  <div class="row pt-3 mx-3">
    <div class="col-sm-6 py-2">
      <label for="start_date">Başlama tarihi</label>
      <%= form.date_field(:start_date, id: "start_date", class: "ms-3", required: "") %>
      <%= print_error_messages(@project, :start_date) %>
    </div>
    <div class="col-sm-6 py-2">
      <label for="end_date">Bitiş tarihi</label>
      <%= form.date_field(:end_date, id: "end_date", class: "ms-3", required: "") %>
    </div>
  </div>
  <div class="row pt-3 mx-3">
    <div class="col-sm-12 d-flex justify-content-center">
      <%= render "shared/dropzone",
      form: form,
      source: :image,
      max_files: 1,
      multiple: false,
      filename: @filename,
      image_url: @image_url,
      file_size: @file_size %>
    </div>
  </div>
  <hr class="border border-secondary">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center mb-5">
      <input type="submit" value="Gönder" class="btn btn-primary mt-4">
    </div>
  </div>
<% end %>
