<!DOCTYPE html>
<html>
  <head>
    <title>Tuncay Dinler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" unless controller_name == "panel"%><br><br><br><br>
    <%= yield %><br><br><br>
    <%= render "layouts/footer" unless controller_name == "panel"%>
  </body>
</html>
